html {
  background-color: rgba(118, 41, 29, 0.882);

}

*, *::after, *::before{
  box-sizing: inherit;
}

body {
margin: 0;
min-width: 320px;
min-height: 100vh;

}

ul{
  list-style: none;
}

ul>li{
  display: flex;
  gap: 8px;
  padding: 3px;
  margin: auto 10px;
}